
.divcolor{
    position: relative;
    background-image: linear-gradient(rgba(229, 130, 238, 0.719),rgba(0, 46, 130, 0.822));
    height:400px;
    width: 100%;
    /* border: solid 1px black; */
    margin:0%;
    padding:0%;
    max-width: 100%;
}
.card_data{
    padding:20px;
}
h5{
    color:white;
    font-size: ft_face;
}